/*
	Name: animate-setup
	Description: Setups up the animation key frames for the named animation.
	Parameters:
	  $animation-name
	  @content
	Compatibility: Provides browser specific style for webkit.
*/
/*
	Name: animate-me
	Description: Assigns and configures the named animation to an element.
	Parameters:
	  $animation-name
		$animation-duration
		$animation-timing-function
		$animation-delay
		$animation-fill-mode
		$animation-iteration-count
		$animation-direction
		$animation-play-state
	Compatibility: Provides browser specific style for webkit.
*/
/*
	Name: transform
	Description: Applies a transform to an element in a cross browser manner.
	Parameters:
	  $transform
		$transform-origin
	Compatibility: Provides browser specific style for webkit.
*/
/*
	Name: transition
	Description: Applies a single/multiple transition to an element in a cross browser manner.
	Parameters:
	  $transition
	Compatibility: Provides browser specific style for webkit.
*/
/*
	Name: transition-prop
	Description: Applies a single transition to an element in a cross browser manner.
	Parameters:
	  $transition-property
	  $transition-duration
	  $transition-delay
	  $transition-timing-function
	Compatibility: Provides browser specific style for webkit.
*/
/*
	Name: transition-props
	Description: Applies a single/multiple transition to an element in a cross browser manner.
	Parameters:
	  $transition-property
	  $transition-duration
	  $transition-delay
	  $transition-timing-function
	Compatibility: Provides browser specific style for webkit.
*/
@media screen and (max-width: 767px) {
  .tablet-visible {
    display: none; }

  .desktop-visible {
    display: none; }

  .mobile-hidden {
    display: none; } }
@media screen and (min-width: 768px) and (max-width: 991px) {
  .mobile-visible {
    display: none; }

  .desktop-visible {
    display: none; }

  .tablet-hidden {
    display: none; } }
@media screen and (min-width: 992px) {
  .mobile-visible {
    display: none; }

  .tablet-visible {
    display: none; }

  .desktop-hidden {
    display: none; } }
