$header-footer-text-color: #FFFFFF;
$header-footer-padding: 15px;

$header-background-color: #191997;
$header-border-bottom: #00008B 1px solid;

$footer-background-color: #555555;
$footer-border-top: #999999 solid 1px;
